<div *ngIf="!(themeToggleChecked$ | async)" class="light-theme">
  <ng-container *ngTemplateOutlet="backgroundTemplate"></ng-container>
</div>

<div *ngIf="themeToggleChecked$ | async" class="dark-theme">
  <ng-container *ngTemplateOutlet="backgroundTemplate"></ng-container>
</div>

<ng-template #backgroundTemplate>
  <div #background class="background">
    <mat-toolbar class="mobile-toolbar">
      <div class="toggle-drawer-container">
        <button mat-icon-button (click)="toggleDrawer()">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- <img
          class="logo"
          src="{{ logoPath }}"
          alt="altLogoText"
          routerLink="/home"
          (click)="closeDrawer($event)"
        /> -->
      </div>
      <div class="toggle-theme-container">
        <span class="theme-toggle-description">Dark:</span>
        <mat-slide-toggle
          class="theme-toggle"
          [color]="themeToggleColor"
          [checked]="themeToggleChecked$ | async"
          [disabled]="themeToggleDisabled"
          (change)="themeToggleChange($event)"
        >
        </mat-slide-toggle>
      </div>
    </mat-toolbar>

    <mat-sidenav-container
      class="sidenav-container"
      [style.marginTop.px]="desktopQuery.matches ? 40 : 0"
    >
      <mat-sidenav
        #sidenav
        class="sidenav-content"
        [mode]="desktopQuery.matches ? 'over' : 'side'"
        [autoFocus]="false"
        [fixedInViewport]="desktopQuery.matches"
        fixedTopGap="40"
      >
        <!-- Side Nave -->
        <app-toolbar (navigationClickEvent)="closeDrawer($event)"></app-toolbar>
      </mat-sidenav>
      <mat-sidenav-content class="body-container"
        ><div class="body">
          <router-outlet *ngIf="displayRoute"></router-outlet>
          <app-handsign-loader
            [routeReady]="!displayRoute"
          ></app-handsign-loader></div
      ></mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-template>
