// Dark Blue Grey
$md-primary: (
    50 : #e7edf1,
    100 : #c2d1dc,
    200 : #99b2c5,
    300 : #7093ad,
    400 : #527c9c,
    500 : #33658a,
    600 : #2e5d82,
    700 : #275377,
    800 : #20496d,
    900 : #14375a,
    A100 : #94c6ff,
    A200 : #61abff,
    A400 : #2e90ff,
    A700 : #1482ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Goldish Orange
$md-accent: (
    50 : #fef5e6,
    100 : #fce7c0,
    200 : #fbd796,
    300 : #f9c66c,
    400 : #f7ba4d,
    500 : #f6ae2d,
    600 : #f5a728,
    700 : #f39d22,
    800 : #f2941c,
    900 : #ef8411,
    A100 : #ffffff,
    A200 : #fff4e9,
    A400 : #ffd9b6,
    A700 : #ffcc9c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



// Light-Blue
$ACCENT: (
  50: #f7fcfc,
  100: #eaf8f8,
  200: #ddf4f4,
  300: #cfefef,
  400: #c4ebeb,
  500: #bae8e8,
  600: #b4e5e5,
  700: #abe2e2,
  800: #a3dede,
  900: #95d8d8,
  A100: white,
  A200: white,
  A400: white,
  A700: white,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);
